header {
    background: rgb(255, 255, 255);
    height: 70px;
}
header img { /*задаем размер картинки*/
    width: 80px;
    height: 50px;
    cursor: pointer;
    margin: 10px;
    /*Нужно добавить сдвиг слева и сверху*/
}
