body {
    background-image: url('../img/background_order.png');
    background-repeat: no-repeat; /* Отключает повторение изображения */
    background-size: cover;       /* Масштабирует изображение, чтобы оно покрыло весь экран */
    background-attachment: fixed; /* Фиксирует фон, чтобы он не скроллился с страницей */
    background-position: right bottom;
    background-color: F4F4F4;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    margin: 20px 0 5px 0;
    max-width: 1300px;
}
/*----------details---------*/
.task-gates{
    justify-content: left;   
    width: 1000px; 
}

.task-gates-header{
    font-family: IBM Plex Mono;
    font-size: 24px;
    margin-left: 30px;
    height: 26px;   
}

.task-gates-text{
    font-family: IBM Plex Mono;
    font-size: 16px;
    margin-left: 60px;
    color: rgb(106, 106, 106);
    width: 700px;  
    word-wrap: break-word; /* Перенос длинных слов */
    overflow-wrap: break-word; /* Альтернативное свойство для переноса */
    hyphens: auto; 
}
/*-------result--------*/
.result-header {
    font-family: IBM Plex Mono;
    font-size: 24px;
    margin-left: 30px;
    height: 26px;
}

.res-form{
    width: 200px;
    height: 40px;
    color: black;
    background-color: white;
    border-color: black;
    border-radius: 5px;
    margin: 10px 0 auto 30px;
}
/*-------description--------*/
.description-header{
    font-family: IBM Plex Mono;
    font-size: 24px;
    margin-left: 30px;
    height: 26px;
}
.description-text {
    font-family: IBM Plex Mono;
    font-size: 16px;
    margin-left: 60px;
    color: rgb(106, 106, 106);
}

.desc-form {
    width: 600px;
    height: 100px;
    color: black;
    background-color: white;
    border-color: black;
    border-radius: 5px;
    margin-left: 50px;
}

/*-------card-content--------*/
.task-gates-cards {
    display: flex;
    align-items: center;
    background-color: white;
    width: 800px;
    height: 50px;
    margin: 10px auto 10px 50px;
    position: relative;
    padding-right: 10px;
}

.task-gates-cards img:first-child {
    object-fit: cover;
    flex-shrink: 0;
}

.task-card-name {
    margin-left: 20px;
    font-size: 18px;
    flex-shrink: 0;
}

.task-card-appendix {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.task-card-appendix p {
    margin: 0;
    white-space: nowrap;
}

.task-card-form {
    width: 50px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 5px;
}

.task-card-trash {
    margin-left: auto;
    flex-shrink: 0;
}

.task-card-trash img {
    width: 30px;
    height: 30px;
}
