body {
    background-image: url('../img/background_order.png');
    background-repeat: no-repeat; /* Отключает повторение изображения */
    background-size: cover;       /* Масштабирует изображение, чтобы оно покрыло весь экран */
    background-attachment: fixed; /* Фиксирует фон, чтобы он не скроллился с страницей */
    background-position: right bottom;
    background-color: F4F4F4;
    margin: 0;
    padding: 0;
}