body {
    background-image: url('../img/background_order.png');
    background-repeat: no-repeat; /* Отключает повторение изображения */
    background-size: cover;       /* Масштабирует изображение, чтобы оно покрыло весь экран */
    background-attachment: fixed; /* Фиксирует фон, чтобы он не скроллился с страницей */
    background-position: right bottom;
    background-color: F4F4F4;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    margin: 20px 0 5px 0;
    max-width: 1300px;
}
/*----------details---------*/
.task-gates{
    justify-content: left;   
    width: 1000px; 
}

.task-gates-header{
    font-family: IBM Plex Mono;
    font-size: 24px;
    margin-left: 30px;
    height: 26px;   
}

.task-gates-text{
    font-family: IBM Plex Mono;
    font-size: 16px;
    margin-left: 60px;
    color: rgb(106, 106, 106);
    width: 700px;  
    word-wrap: break-word; /* Перенос длинных слов */
    overflow-wrap: break-word; /* Альтернативное свойство для переноса */
    hyphens: auto; 
}

.result-header {
    font-family: IBM Plex Mono;
    font-size: 24px;
    margin-left: 30px;
    height: 26px;
}

.res-form{
    width: 200px;
    height: 40px;
    color: black;
    background-color: white;
    border-color: black;
    border-radius: 5px;
    margin: 10px 0 auto 30px;
}

.description-header{
    font-family: IBM Plex Mono;
    font-size: 24px;
    margin-left: 30px;
    height: 26px;
}
.description-text {
    font-family: IBM Plex Mono;
    font-size: 16px;
    margin-left: 60px;
    color: rgb(106, 106, 106);
}

.desc-form {
    width: 600px;
    height: 100px;
    color: black;
    background-color: white;
    border-color: black;
    border-radius: 5px;
    margin-left: 50px;
}

.card-form{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.task-gates-cards {
    background-color: white;
    width: 800px;
    height: 50px;
    margin: 10px auto 10px 50px;
}

.task-gates-cards img {
    width: 70px;
    height: 50px;
}

.task-cards-name {
    margin-left: 100px;
    margin-top: 25px;
    font-size: 18px;
}
.task-cards-apppendix{
    background-color: white;
    color: black;
}