<html lang="en">
<head>
    <title>IBM quantum</title>
    <link rel="stylesheet" href="/static/styles/general.css">
    <link rel="stylesheet" href="/static/styles/gates_list.css">
</head>
<body>
    <header>
        <h1>
            <a href="/IBM"><img src="http://127.0.0.1:9000/ibm-pictures/img/image.png" alt="home"></a>
        </h1>
    </header>
    <div class="content">
        <div><p class="header-text">Выберите однокубитную операцию</p></div>
        <!--
        <div>
            <a class="card-button order-button" href="/order/1">Составление заявки</a>
        </div>
        -->

        <form action="/IBM" method="GET" class="search-field">
            <input type="text" name="query" placeholder="Введите название гейта" value="{{ .query }}">
            <!-- value="{{ .query }}"  нужно для того, чтобы из обработчика передавать
            введенный запрос обратно на страницу. Тем самым введенный текст в поле поиска будет сохраняться-->
            <button type="submit">Найти</button>
        </form>
        <div class="main-content">
            <div class="task-button">
                <div class="image-with-text">
                    <a href="/task/1">
                        <img src="http://127.0.0.1:9000/ibm-pictures/img/basket.png" alt="home">
                    </a>
                    <p class="overlay-text">3</p>
                </div>
            </div>

            <div class="container">
                {{ range .gates }}
                <div class="card">
                    <div class="card-content">
                        <div class="card-text">

                            {{ if .IsEditable }}
                            <div class="attributes">
                                <div class="attribute-editable">
                                    <p>Требуется ввод данных</p>
                                </div>
                                <div class="attribute-axis">
                                    <p>Изменение по оси {{ .TheAxis }}</p>
                                </div>
                            </div>
                            {{ else }}
                            <div class="attribute-not-editable">
                                Не требуется ввод данных
                            </div>
                            {{ end }}

                            <p class="card-title">{{ .Title }}</p>
                            <p class="card-descr">{{ .Description }}</p>
                        </div>
                        <div class="card-image"><img src={{ .Image }} alt="home"></div>
                    </div>
                    <div class="buttons">
                        <a class="card-button-add" href="/gate_property/{{ .ID }}">Добавить</a>
                        <a class="card-button-more" href="/gate_property/{{ .ID }}">Подробнее</a>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</body>
</html>