<html lang="en">
<head>
    <title>IBM quantum</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
</head>
<body>
    <header>
        <h1>
            <a href="/IBM"><img src="/resources/img/image.png" alt="home"></a>
        </h1>
    </header>
    <div class="content">
        <div><p class="header-text">Выберите однокубитную операцию</p></div>
        <!--
        <div>
            <a class="card-button order-button" href="/order/1">Составление заявки</a>
        </div>
        -->

        <form action="/IBM" method="GET" class="search-field">
            <input type="text" name="query" placeholder="Введите запрос" value="{{ .query }}">
            <!-- value="{{ .query }}"  нужно для того, чтобы из обработчика передавать
            введенный запрос обратно на страницу. Тем самым введенный текст в поле поиска будет сохраняться-->
            <button type="submit">Найти</button>
        </form>

        <div class="container">
            {{ range .gates }}
            <div class="card">
                <p class="card-title">{{ .Title }}</p>
                <img src="/resources/img/image.png" alt="home" width="50px" height="50px">
                <p class="card-descr">{{ .Description }}</p>
                <a class="card-button" href="/gate_property/{{ .ID }}">Подробнее</a>
            </div>
            {{ end }}
        </div>
    </div>
</body>
</html>