<html lang="en">
<head>
    <title>IBM quantum list</title>
    <link rel="stylesheet" href="/static/styles/task.css">
    <link rel="stylesheet" href="/static/styles/general.css">
</head>
<body>
    <header>
        <h1>
            <a href="/IBM"><img src="/static/img/image.png" alt="home"></a>
        </h1>
    </header>
    <div class="content">
        <div class="task-gates">
            <div class="task-gates-header">
                <p>Укажите детали выражения</p>
            </div>
            <div class="task-gates-text">
                <p>Для этого расположите карточки в необходимом порядке и введите углы для операций вращения.</p>
            </div>
            {{ range .task.Gates }}
                <div class="task-gates-cards">
                    <div>
                        <img src="/static/img/{{ .Image }}" alt="home">
                    </div>
                    <div class="task-cards-name">
                        <p> {{ .Title }} </p>
                    </div>
                    {{ if .IsEditable }}
                        <div>
                            <input type="text" name="userName" value="" class="card-form"/>
                        </div>
                    {{ end }}
                    <div></div>
                </div>
            {{ end }}
        </div>
        <div class="result">
            <div class="result-header">
                <p>Результат</p>
            </div> 
            <div class="result-field">
                <input type="text" name="userName" value="" class="res-form"/>
            </div> 
        </div>
    </div>
    <div class="description">
        <div class="description-header">
            <p>Описание</p>
        </div>
        <div class="description-text">
            <p>Добавьте описание задачи, чтобы не перепутать её с другими.</p>
        </div>
        <div class="description-field">
            <input type="text" name="userName" value="" class="desc-form"/>
        </div>
    </div>
</body>
</html>